<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- extension
         point="org.eclipse.ui.views">
      <category
            name="Code Review"
            id="com.codereview">
      </category>
      <view
            name="Code Review"
            icon="icons/paw-16.png"
            category="com.codereview"
            class="com.codereview.views.SampleView"
            id="com.codereview.views.SampleView">
      </view>
   </extension -->
   
   <extension
      point="org.eclipse.ui.preferencePages">
	   <page
	         name="Code Review"
	         class="com.codereview.views.CodeReviewPreference"
	         id="com.codereview.CodeReviewPreference">
	   </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
         <perspective
            name=" Code Review"
            icon="icons/paw-16.png"
	            class="com.codereview.views.CodeReviewPerspective"
            id="com.codereview.views.CodeReviewPerspective">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
			<perspectiveShortcut id="com.codereview.views.CodeReviewPerspective">
			</perspectiveShortcut>
		</perspectiveExtension>
	</extension>
   <!-- extension
         point="org.eclipse.ui.commands">
         <command id="com.codereview.views.AddReviewFiles" name="Add files to Review" categoryId="menu:team.menu">
         </command>
   </extension -->
    <extension
          point="org.eclipse.ui.popupMenus">
          <menuContribution locationURI="menu:team.main?after=org.eclipse.egit.ui.team.Disconnect">
         <menu id="fileMenu" label="File">
            <command commandId="de.vogella.rcp.commands.first.commands.Exit" label="Exit" style="push" tooltip="Exit the application">
            </command>
         </menu>
      </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
<menuContribution allPopups="true" locationURI="menu:team.main?after=org.eclipse.egit.ui.team.Disconnect">
<menu label="Checkout State">
<command commandId="Test.reservedToUnreservedCommand" label="Reserved--&gt;Unreserved" style="push">
</command>
<command commandId="Test.unreservedToReservedCommand" label="Unreserved--&gt;Reserved" style="push">
</command>
</menu>
</menuContribution>
</extension>
<extension point="org.eclipse.ui.commands">
<command
id="Test.checkoutCommand"
name="Checkout">
</command>
<command
id="Test.reservedToUnreservedCommand"
name="Reserved--&gt;Unreserved">
</command>
<command
id="Test.unreservedToReservedCommand"
name="Unreserved--&gt;Reserved">
</command>
</extension>
<extension
point="org.eclipse.ui.handlers">
<handler
class="test.handlers.CheckoutHandler"
commandId="Test.checkoutHandler">
</handler>
<handler
class="test.handlers.UnreservedHandler"
commandId="Test.handler3">
</handler>
<handler
class="test.handlers.ReservedHandler"
commandId="Test.reservedHandler">
</handler>
</extension>
   
</plugin>
