/* Core styles for the page */
body {
	margin: 0;
	padding: 0;
	/* background-color: #F1F1F1; */
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width: 100%;
	height: 100%;
}

.top_panel {
	position: relative;
	width: Auto;
	min-width: 1024px;
	height: 60px;
	padding-top: 10px;
	margin-left: 0;
	margin-right: auto;
	text-align: left;
	background: white;
	/* background: white; */
}

.middle_panel {
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: auto;
	min-width: 1024px;
	padding-top: 10px;
	overflow: hidden;
	min-height: 450px;
	background: rgb(109, 0, 25); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(109, 0, 25, 1) 0%,
		rgba(143, 2, 34, 1) 56%, rgba(169, 3, 41, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(109,
		0, 25, 1)), color-stop(56%, rgba(143, 2, 34, 1)),
		color-stop(100%, rgba(169, 3, 41, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(109, 0, 25, 1) 0%,
		rgba(143, 2, 34, 1) 56%, rgba(169, 3, 41, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(109, 0, 25, 1) 0%,
		rgba(143, 2, 34, 1) 56%, rgba(169, 3, 41, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(109, 0, 25, 1) 0%,
		rgba(143, 2, 34, 1) 56%, rgba(169, 3, 41, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(109, 0, 25, 1) 0%,
		rgba(143, 2, 34, 1) 56%, rgba(169, 3, 41, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019',
		endColorstr='#a90329', GradientType=0); /* IE6-9 */
}

.bottom_seperator_bar {
	position: relative;
	width: Auto;
	min-width: 1024px;
	height: 10px;
	padding-top: 10px;
	margin-left: 0;
	margin-right: auto;
	text-align: left;
	background: #d31f46;
}

.container {
	width: 80%;
	min-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.vertical_container {
	position: absolute;
	width: 40%;
	height: 250px;
	min-width: 600px;
	margin-left: 0;
	margin-right: auto;
	text-align: left;
	padding-top: 50px;
}

.signup_login_container {
	position: relative;
	padding: 10px 0px 0px 0px;
	width: 28%;
	min-width: 120px;
	height: auto;
	margin-right: 0;
	margin-left: auto;
}

.login_container {
	margin-top: 15px;
	border-bottom: 1px solid white;
	border-bottom-style: dotted;
	padding-bottom: 20px;
	width: 105%;
}

.bottom_container {
	width: 100%;
	min-width: 966px;
	margin-left: 0;
	margin-right: auto;
	background-color: #fc6f8d;
	height: 40px;
}

.bottom_container_dashboad_credits {
	width: 100%;
	min-width: 966px;
	margin-left: 0;
	margin-right: auto;
	background-color: #d31f46;
	height: 20px;
	position: absolute;
	margin-top: 0;
	margin-bottom: auto;
	clear: both;
	position: fixed;
	bottom: 0px;
}

.bottom_control_panel {
	width: inherit;
	min-width: 690px;
	height: 40px;
	margin-top: 0;
	margin-bottom: auto;
	clear: both;
	position: fixed;
	bottom: 0px;
}

.inner_container {
	position: relative;
	float: right;
	margin-left: 0;
	margin-right: auto;
	overflow: hidden;
	margin-right: 10px;
}

.signup_container {
	padding-top: 25px
}

.outer_container {
	width: Auto;
	height: 500px;
	position: relative;
	min-width: 966px;
}

.side_left_panel {
	position: relative;
	width: 20%;
	float: left;
	min-width: 75px;
	height: 550px;
}

.middle_work_panel {
	position: relative;
	width: 59.99%;
	float: left;
	min-width: 250px;
	height: 550px;
}

.side_right_panel {
	position: relative;
	float: right;
	width: 20%;
	min-width: 75px;
	height: 550px;
}

.oneRowsDivRight {
	position: relative;
	float: right;
	margin: 0 auto;
	width: Auto;
}

.oneRowsDivLeft {
	position: relative;
	float: left;
	width: Auto;
}

.icon32 {
	/* width: 32px;
	height: 32px; */
	padding: 0px 8px 0px 8px;
	data-icon: "&#x21dd;"
}

.icon16 {
	width: 16px;
	height: 16px;
	data-icon: "&#x21dd;"
}

.icon32x28 {
	width: 28px;
	height: 32px;
}

.language_container {
	padding: 10px 10px 10px 10px;
}

.credits {
	padding: 2px 2px 2px 2px;
}

a.mini {
	color: orange;
	text-decoration: none;
	font-size: x-small;
}

a.medium {
	color: orange;
	text-decoration: none;
}

a:hover {
	color: silver;
	text-decoration: none;
}

.title_bar {
	width: 100%;
	height: 32px;
	background-color: #D31F46;
	padding: 6px 6px 6px 6px;
	margin-bottom: 2px;
	text-align: center;
	vertical-align: middle;
}

.bold {
	font-size: bold;
}

.odd {
	width: auto;
	height: 12px;
	background-color: white;
	padding: 5px 5px 5px 5px;
	list-style-type: none;
	font-size: small;
}

.even {
	width: auto;
	height: 12px;
	background-color: #ffe5eb;
	padding: 5px 5px 5px 5px;
	list-style-type: none;
	font-size: small;
}

/* Member registration styles */
span.invalid {
	padding-left: 3px;
	color: red;
	font: 65%/1 sans-serif;
}

label {
	color: Black;
	font: 120% verdana;
	display: inline;
}

input {
	margin-bottom: 8px;
	font-family: Calibri;
	font-size: medium;
	border: 1px solid #E8E8E8;
	padding-left: 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 25px;
}

.login_text {
	margin-bottom: 8px;
	font-family: Calibri;
	font-size: medium;
	border: 1px solid #E8E8E8;
	padding-left: 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 30px;
}

input[class=long_type] {
	border: 0px;
	width: 75%;
	border: 1px solid #E8E8E8;
	/* font-family: Arial; */
	font-style: normal;
	font-size: medium;
	/* padding: 8px 8px 8px 8px; */
}

.bigStyle {
	border: 0px;
	margin-bottom: 20px;
	width: 100%;
	font-family: Arial;
	font-style: normal;
	font-size: medium;
	padding: 8px 8px 8px 8px;
	height: 38px;
}

input[class=search] {
	/* margin-bottom: 8px; */
	font-family: Calibri;
	font-size: medium;
	border: 1px solid #E8E8E8;
	padding-left: 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 25px;
	background: url('../gfx/search-9-24.png') no-repeat;
	background-position: right;
}

input[type=button][class=login] {
	/* border: 1px solid #E8E8E8; */
	border: 0px;
	color: black;
	height: 29px;
	width: 50px; /* Old browsers */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3x;
	background: rgb(226, 226, 226); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(226,
		226, 226, 1)), color-stop(50%, rgba(219, 219, 219, 1)),
		color-stop(51%, rgba(209, 209, 209, 1)),
		color-stop(100%, rgba(254, 254, 254, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2',
		endColorstr='#fefefe', GradientType=0); /* IE6-9 */
}

input[type=button][class=signup] {
	border: 0px;
	color: white;
	height: 35px;
	width: 50%;
	font-size: large;
	font-weight: bold;
	background: rgb(69, 72, 77); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69,
		72, 77, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d',
		endColorstr='#000000', GradientType=0); /* IE6-9 */
}

input[type=button][class=button_type] {
	border: 0px;
	color: white;
	height: 35px;
	width: auto;
	min-width: 65px;
	font-size: large;
	font-weight: normal;
	background: rgb(69, 72, 77); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69,
		72, 77, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d',
		endColorstr='#000000', GradientType=0); /* IE6-9 */
}

input[type=submit][class=button_type] {
	border: 0px;
	color: white;
	height: 35px;
	width: auto;
	min-width: 65px;
	font-size: large;
	font-weight: normal;
	background: rgb(69, 72, 77); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69,
		72, 77, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d',
		endColorstr='#000000', GradientType=0); /* IE6-9 */
}

input:hover {
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
}

select:hover {
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
}

img:hover {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}

img
:not
 
(
:hover
 
)
{
border-width
:
 
0
px
 
1
px
 
0
px
 
0
px
;

	
border-style
:
 
solid
;

	
border-color
:
 
black
;

	
opacity
:
 
0
.6
;

	
filter
:
 
alpha
(opacity
 
=
60);
opacity
:
 
0
.6
; /* For IE8 and earlier */
/* -moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc; */


}
.textWhiteLarge {
	font-family: sans-serif;
	color: white;
	font-weight: bold;
	font-size: 50px;
}

.textWhiteMedium {
	font-family: sans-serif;
	color: white;
	font-size: medium;
}

.textWhiteVerySmall {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: white;
	font-size: x-small;
}

.textWhiteSmall {
	font-family: sans-serif;
	color: white;
	font-size: small;
}

.textOrangeMedium {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: orange;
	font-size: medium;
}

.textOrangeSmall {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: orange;
	font-size: small;
}

.bold {
	font-weight: bold;
}

.div_align_center {
	width: 80%;
	margin-left: 0;
	margin-right: auto;
}

textarea {
	width: 500px;
	height: 100%;
	font-size: small;
	max-width: 500px;
	max-height: 300px;
	border: 1px solid #E8E8E8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.popup_container {
	height: 300px;
	padding: 1% .5% 1% 1%;
}

table[class="table_form"] {
	display: table;
	table-layout: auto;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

td {
	border-left: 2px solid white;
}

td[class="big_cell"] {
	height: 140px;
	margin-right: 1px;
}

table {
	width: 100%;
}

th {
	background-color: #ffbf51;
	padding: 5px 5px 5px 5px;
	color: orange;
	text-align: center;
	border-left: 2px solid white;
	cursor: pointer;
}

tfoot>tr>td {
	background-color: #ffbf51;
	text-align: right;
	padding-right: 5px;
	padding-bottom: 2px;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 1px 2px;
	font-size: 14px;
	/* line-height: 1.42857143; */
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.small_select {
	color: orange;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: x-small;
	border: 1px solid #E8E8E8;
	margin-top: auto;
	margin-bottom: auto;
}

.sort-true {
	background: no-repeat right center url('../gfx/arrow-up.png');
	background-color: #ffbf51;
}

.sort-false {
	background: no-repeat right center url('../gfx/arrow-down.png');
	background-color: #ffbf51;
}

.app-modal-window .modal-dialog {
	width: 720px;
}

.text_align_center {
	text-align: left;
}

.side_by_side {
	overflow: hidden;
	width: auto;	
}

.num_tick {
	float: left;
	width: 40px;
	height: auto;
	border-right: 5px solid #6d0019;
}

.no_changes {
	width: auto;
}

.div_right {
	float: right;
	width: 92%;
	min-width: 92%;
}

.added_changes {
	background-color: aqua;
	width: auto;
}

.deleted_changes {
	background-color: #FF8C98;
	width: auto;
}

div#preloader {
	visibility: hidden;
	height: 0px;
	width: 0px;
}

.spinner {
	margin-top: 5px;
	margin-bottom: 5px;
}