<div class="col-sm-3">
	<div class="row">
		<div class="title_bar"></div>
	</div>
	<div class="row" ng-controller="showReviewCommentController">
		<div class="col-md-12" ng-repeat="comment in data">
			<blockquote>
				{{comment.reviewComment}}
				<footer>
					{{comment.commentType}} {{comment.errorType}} <cite>Line : {{comment.lineNumber}}</cite>
				</footer>
			</blockquote>
		</div>
	</div>
</div>
<div class="col-md-7" data-ng-init="init()" ui-view="success">
	<div class="title_bar">
		<div class="oneRowsDivLeft">
			<label class="textWhiteMedium bold">{{
				'TTL_DASHBORD_DETAIL' | translate }}</label>
		</div>
		<div class="oneRowsDivRight">
			<a href="" class="medium"><img
			src="static/resources/gfx/add-row-24.png" ng-click="open()"></img></a>
		</div>
	</div>
	<table ng-controller="ReviewTableController"
	class="table  table-striped table-hover">
		<thead ng-init="init('reviewCode', 'DashboardService')">
			<th ng-click="changeSorting('reviewCode')"
			ng-class="selectedColumn('reviewCode')" nowrap><a>{{
			'TH_REVIEW_CODE' | translate}}</a></th>
			<th ng-click="changeSorting('reviewDescription')"
			ng-class="selectedColumn('reviewDescription')" nowrap><a>{{
			'TH_REVIEW_NAME' | translate}}</a></th>
			<th ng-click="changeSorting('reviewStatus')"
			ng-class="selectedColumn('reviewStatus')" nowrap><a>{{
			'TH_REVIEW_STATUS' | translate}}</a></th>
			<th></th>
		</thead>
		<tbody
		ng-if="data === undefined || data === 'undefined' || data === null">
			<tr>
				<td colspan="4" class="text-center">
				<progressbar
				class="progress-striped active" style="width: 30%;" value="100"
				type="danger">
					<i>loading...</i>
				</progressbar></td>
			</tr>
		</tbody>
		<tbody ng-if="data.length === 0">
			<tr>
				<td colspan="4" class="text-center">{{ 'TXT_NO_DATA_FOUND' |
				translate}}</td>
			</tr>
		</tbody>
		<tbody>
			<tr ng-if="data.length > 0"
			data-ng-repeat="review in data | orderBy:sort.column:sort.descending | filter:((selectedOption.id === '-1') ? undefined : selectedOption.name)">
				<td style="width: 15%"><a href="" class="" ui-sref="/filedetails"
				ng-click="getFileDetails(review.reviewCode)">#{{review.reviewCode.toUpperCase()}}</a></td>
				<td><a href="" class=""
				ng-click="getFileDetails(review.reviewCode)">{{review.reviewName}}</a></td>
				<td style="width: 18%"><a href="" class="">{{review.reviewStatus}}</a></td>
				<td style="width: 6%" nowrap><a href="" class=""><img
				src="static/resources/gfx/edit-6-16-red.png" class="icon16"
				ng-click="open(review)"></img></a><a href="" class="medium"><img
				src="static/resources/gfx/delete-16.png" class="icon16"></img></a></td>
			</tr>
		</tbody>
		<tfoot>
			<tr class="table-striped warning">
				<td colspan="4" data-ng-model="reviews"><a>{{
				'TXT_REVIEW_FILTER' | translate}}:</a><select class="small_select"
				data-ng-options="o.name for o in reviewStatus"
				data-ng-model="selectedOption"></select><label
				class="textWhiteSmall"> | </label><a>{{
				'TXT_TOTAL_NUM_REVIEW' | translate}} : {{data.length}}</a></td>
			</tr>
		</tfoot>
	</table>
</div>