<div class="top_panel" ng-contoller="successController">
	<div class="oneRowsDivLeft">
		<a href="#" title="{{'TT_HOME' | translate}}"><img
			src="static/resources/gfx/home-32.png" class="icon32" /></a> <a href="#"
			title="{{'TT_SETTING' | translate}}" class="seperator"><img
			src="static/resources/gfx/settings-2-32.png" class="icon32" /></a> <a
			href="#" title="{{'TT_CONFIGURATION' | translate}}" class="seperator"><img
			src="static/resources/gfx/settings-3-32.png" class="icon32" /></a> <a
			href="#" title="{{'TT_ANALYSIS' | translate}}" class="seperator"><img
			src="static/resources/gfx/pie-32.png" class="icon32" /></a> <a href="#"
			title="{{'TT_REPORT' | translate}}" class="seperator"><img
			src="static/resources/gfx/text-file-4-32.png" class="icon32" /></a>
	</div>
	<div class="oneRowsDivRight">
		{{ 'TXT_WELCOME' | translate }} {{user.userName}}!!! <input
			type="text" name="search" class="search"
			title="{{'TT_SEARCH' | translate}}"
			placeholder="{{ 'PH_SEARCH' | translate }}" ng-click="logout()" /> <a
			value="Log Out" placeholder="Log Out" ng-click="logout()"
			class="seperator"><img src="static/resources/gfx/logout-32.png"
			class="icon32" title="{{'TT_LOGOUT' | translate}}" class="icon32"></a>
	</div>
</div>

<div class="outer_container">

	<script type="text/ng-template" id="createReviewView.html">
	<div class="title_bar">
		<div class="oneRowsDivLeft">
			<label class="textWhiteMedium bold">{{ 'TTL_REVIEW_CREATION'
				| translate }}</label>
		</div>
	</div>
<form name="reviewCreationForm" ng-submit="reviewCreation(reviewCreationForm.$valid)" novalidate>
	<div class="popup_container">
		<table class="table_form">
			<tr>
				<td><lable class="textOrangeSmall">{{ 'TXT_REVIEW_NAME'
					| translate }}</lable></td>
				<td colspan="3">
				<label ng-show="submitted && reviewCreationForm.reviewName.$error.required" class="textOrangeSmall">Review must have a review name.</label>
				<input type="text" name="reviewName"
					class="long_type" title="{{'TT_REVIEW_NAME' | translate}}"
					placeholder="{{ 'PH_REVIEW_NAME' | translate }}" value="{{review.reviewName}}" ng-model="review.reviewName" ng-minlength="8" required="" /></td>
			</tr>
			<tr>
				<td><lable class="textOrangeSmall">{{
					'TXT_REVIEW_DESCRIPTION' | translate }}</lable></td>
				<td colspan="3" class="big_cell">
				<textarea class="login" name="reviewDescription"
						title="{{ 'TT_REVIEW_DESCRIPTION' | translate }}"
						placeholder="{{ 'PH_REVIEW_DESCRIPTION' | translate }}" ng-model="review.reviewDescription">{{review.reviewDescription}}</textarea>
				</td>
			</tr>
			<tr>
				<td><lable class="textOrangeSmall">{{
					'TXT_SELECT_REVIEWERS' | translate }}</lable></td>
				<td>
				<table>
				<tbody ng-repeat="rev in review.reviewers">
				<tr>
				<td>
				<label ng-show="submitted && reviewCreationForm.reviewers.$error.minlength" class="textWhiteSmall">Review must have a review name.</label>
				<input type="text" name="reviewers" class="long_type"
					title="{{'TT_SELECT_REVIEWERS' | translate}}"
					placeholder="{{ 'PH_SELECT_REVIEWERS' | translate }}" value="{{rev.reviewer.firstName}}"/></td>
				<td><input type="text" name="search" class="long_type"
					title="{{'TT_SEARCH' | translate}}"
					placeholder="{{ 'PH_ADD_ROLE' | translate }}" value="{{rev.reviewRoleType.reviewRoleType}}" /></td>
				<td><label class="textOrangeSmall">+</label></td>
				</tr>
				</tbody>
				</table>
				</td>
			</tr>
		</table>
	</div>
	<div class="bottom_control_panel">
		<div class="inner_container">
			<input type="submit" name="add" class="button_type"
				title="{{ 'TT_ADD' | translate}}" value="{{ 'CA_ADD' | translate }}" ng-click="submitted=true"/>
			<input type="button" name="cancel" class="button_type"
				title="{{ 'TT_CANCEL' | translate}}"
				value="{{ 'CA_CANCEL' | translate }}" ng-click="cancel()" />
		</div>
	</div>
</form>
</script>

<script type="text/ng-template" id="fileDetails.html">
		<div class="title_bar" ng-controller="titleController" ng-init="init(true)">
			<div class="oneRowsDivLeft">
				<label class="textWhiteMedium bold">{{ 'TTL_FILE_DETAILS' |
					translate }}</label>
			</div>
			<div class="oneRowsDivRight">
				<a href="" class="medium"><a href="" class="medium" ng-click="back()"><img
							src="static/resources/gfx/arrow-88-24.png"></img></a>
			</div>
		</div>
		<div class="" ng-controller="fileController">
			<table>
				<thead>
					<th ng-click="changeSorting('fullPath')"
						ng-class="selectedColumn('fullPath')" nowrap><a
						class="textWhiteSmall">{{ 'TH_FILE_NAME' | translate}}</a></th>
					<th></th>
				</thead>
				<tbody
				data-ng-repeat="file in files[0].files | orderBy:sort.column:sort.descending">
				<tr>
					<td ng-class-odd="'odd'" ng-class-even="'even'" style="width: 97%" ng-click="isCollapsed = !isCollapsed"><a
						href="" class="medium" ng-click="onExpand(files[0].reviewCode, file.name, isCollapsed)">{{file.fullPath}}</a><div collapse="!isCollapsed"><pre><code>{{data}}</code></pre></div></td>
					<td ng-class-odd="'odd'" ng-class-even="'even'" style="width: 6%"><a
						href="" class="medium"><a href="" class="medium"><img
							src="static/resources/gfx/delete-16.png" class="icon16"></img></a></td>
				</tr>
			</tbody>
			</table>
		</div>
</script>
	<div class="side_left_panel"></div>
	<div class="middle_work_panel" data-ng-init="init()" ui-view="success">
		<div class="title_bar">
			<div class="oneRowsDivLeft">
				<label class="textWhiteMedium bold">{{ 'TTL_DASHBORD_DETAIL'
					| translate }}</label>
			</div>
			<div class="oneRowsDivRight">
				<a href="" class="medium"><img
					src="static/resources/gfx/add-row-24.png" ng-click="open()"></img></a>
			</div>
		</div>
		<table ng-controller="ReviewTableController">
			<thead ng-init="init('reviewCode', 'DashboardService')">
				<th ng-click="changeSorting('reviewCode')"
					ng-class="selectedColumn('reviewCode')" nowrap><a
					class="textWhiteSmall">{{ 'TH_REVIEW_CODE' | translate}}</a></th>
				<th ng-click="changeSorting('reviewDescription')"
					ng-class="selectedColumn('reviewDescription')" nowrap><a
					class="textWhiteSmall">{{ 'TH_REVIEW_NAME' | translate}}</a></th>
				<th ng-click="changeSorting('reviewStatus')"
					ng-class="selectedColumn('reviewStatus')" nowrap><a
					class="textWhiteSmall">{{ 'TH_REVIEW_STATUS' | translate}}</a></th>
				<th></th>
			</thead>
			<tbody ng-if="data.length < 1">
				<tr>
				<td colspan="4" class="text_align_center textOrangeMedium">No Data Found</td>
				</tr>
			<tbody ng-if="data.length > 0"
				data-ng-repeat="review in data | orderBy:sort.column:sort.descending | filter:((selectedOption.id === '-1') ? undefined : selectedOption.name)">
				<tr>
					<td ng-class-odd="'odd'" ng-class-even="'even'" style="width: 15%" ><a
						href="" class="medium" 
						ng-click="getFileDetails(review.reviewCode)">#{{review.reviewCode.toUpperCase()}}</a></td>
					<td ng-class-odd="'odd'" ng-class-even="'even'"><a href=""
						class="medium" ng-click="getFileDetails(review.reviewCode)">{{review.reviewName}}</a></td>
					<td ng-class-odd="'odd'" ng-class-even="'even'" style="width: 18%"><a
						href="" class="medium">{{review.reviewStatus}}</a></td>
					<td ng-class-odd="'odd'" ng-class-even="'even'" style="width: 6%" nowrap><a
						href="" class="medium"><img
							src="static/resources/gfx/edit-6-16-red.png" class="icon16"
							ng-click="open(review)"></img></a> <a href="" class="medium"><img
							src="static/resources/gfx/delete-16.png" class="icon16"></img></a></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4" data-ng-model="reviews"><a
						class="textWhiteSmall">{{ 'TXT_REVIEW_FILTER' | translate}}</a> <select
						class="small_select"
						data-ng-options="o.name for o in reviewStatus"
						data-ng-model="selectedOption"></select> <label
						class="textWhiteSmall"> | </label> <a class="textWhiteSmall">{{
							'TXT_TOTAL_NUM_REVIEW' | translate}} : {{data.length}}</a></td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="side_right_panel"></div>
</div>
<div class="bottom_container_dashboad_credits">
	<div class="credits">
		<lable class="textWhiteVerySmall">{{ 'MSG_CREDITS_1' |
		translate }} <a href="http://www.iconsdb.com"
			class="textWhiteVerySmall" target="_blank">http://www.iconsdb.com</a></lable>
	</div>
</div>